* {
	margin: 0;
	padding: 0;
} 


body {
	font-family: geneva, sans-serif;
	color: #000;
	margin: 1em;
}


#grid {
	background-color: #111;
	float: left;
	position: relative;
	border: 1px solid black;
	border-left: none;
	border-top: none;
}


#clues {
	float: left;
	padding-left: 1em;
	width: 20em;
	font-size: 0.9em;
}

form {
	position: relative;
}

#grid div {
	position: absolute;
	top: 0;
	left: 0;
}

ol {
	list-style: none;
}

#grid ol li {
	display: block;
	float: left;
	width: 2em;
	height: 2em;
}

body #grid input {
	font-family: sans-serif;
	font-variant: small-caps;
	font-size: 0.9em;	
	text-align: center;
	border: none;
	height: 1.65em;
	width: 100%;
	background-repeat: no-repeat;
	background-position: left top;
	background-image: url("border.gif");
	padding-top: 0.625em;
	background-color: white
}

fieldset {
	border: none;
}

legend {
	display: none;
}

div.down {
	width: 2em;
}

fieldset ol li span {
	position: absolute;
	color: #111;
	font-size: 0.55em;
	margin: 0 0.1em;
	z-index: 2;
	font-weight: bold;
	left: 2px;
	top: 0
}

ol.row li {
	float: none;
}

ol.row li ol li {
	float: left;
}

#clues label {
	cursor: pointer;
}

#clues label.active {
	font-weight: bold;
	font-size: 110%;
	color: blue;
}

div.active {
	z-index: 1;
}

body #grid div.active input {
	background-color: #e9e9e9;
}



#print-background {
	display: none;
}