#grid
{
	float: none;
	clear: left
}

body #grid input {
	background-image: none;
}

body #grid li input
{
	width: 99%;
	height: 1.55em;
	margin-left: 1px;
	margin-bottom: 2px
}


#grid ol li {
	width: 2em;
	height: 2em;
	overflow: hidden
}

#print-background {
	height: 100%;
	width: 100%;
	position: absolute;
	top: -1px;
	left: -1px;
	display: block;
	border: 1px solid black
}

#buttons
{
	display: none;
}

h4
{
	margin-top: 1em;
}

#clues
{
	float: none;
	width: auto;
}


#clues div
{
	float: left;
	margin-right: 1em;
	width: 8cm
}